/* pouzivame intuitivnejsi box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 sede pozadi      #e5e5e5
 svetle fialova   #48418e
 tmave fialova    #25133d

 POUZITE PISMO
 Source Sans Pro - rezy pisma light 300, regular 400 a bold 700
https://fonts.google.com/specimen/Source+Sans+Pro
*/

body {
	padding: 0;
	margin: 0;
	background-color: #e5e5e5;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
}

.obal {
	max-width: 960px; /* obsah stránky je omezený do pruhu širokého max. 960px */
	margin: 0 auto; /* pruh je na stránce vycentrovaný */
	background: white;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* ----- zde začni psát vlastní CSS ----- */

.li.logo {
	font-weight: 700;
	padding: 20px 30px;
	text-align: center;
	color: #25133d;
}

.ul.menu {
	margin: 0;
	padding: 0;
	width: 100%;
	list-style: none;
}

.ul.menu a {
	text-decoration: none;
	padding: 20px 30px;
	display: block;
	text-align: center;
	color: #25133d;
}

.ul.menu a:hover {
	color: white;
	background-color: #48418e;
}

.div.hero {
	background: url(images/pozadi.jpg) center no-repeat;
	background-size: cover;
	color: white;
	text-align: center;
}

h1 {
	font-size: 60px;
	font-weight: 400;
	margin: 0;
	padding-top: 30px;
}

.div.hero p {
	font-size: 24px;
	font-weight: 300;
}

.div.hero a {
	display: block;
	text-decoration: none;
	color: white;
	border: 1px solid white;
	border-radius: 5px;
	padding: 10px 15px;
	margin: 10px auto;
	max-width: 200px;
}

.div.hero a:hover {
	background-color: #48418e;
}

.div.hero img {
	margin-top: 60px;
}

.div.contain img {
	width: 75px;
	display: block;
	margin: 60px auto 30px auto;	
}

h2 {
	color: #48418e;
	text-align: center;
	font-size: 20px;
	margin: 0 0 20px 0;
}

.div.contain p {
	margin: 0 30px 0 30px;
	text-align: center;
}

.footer {
	color: white;
	background-color: #48418e;
	text-align: center;
	padding: 15px 0;
	margin-top: 30px;
	width: 100%;
}

.footer p {
	margin: 0;
}

