/* pouzivame intuitivnejsi box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
 BARVY
 sede pozadi      #e5e5e5
 svetle fialova   #48418e
 tmave fialova    #25133d

 POUZITE PISMO
 Source Sans Pro - rezy pisma light 300, regular 400 a bold 700
https://fonts.google.com/specimen/Source+Sans+Pro
*/

body {
	padding: 0;
	margin: 0;
	background-color: #e5e5e5;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
}

.obal {
	max-width: 960px; /* obsah stránky je omezený do pruhu širokého max. 960px */
	margin: 0 auto; /* pruh je na stránce vycentrovaný */
	background: white;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

/* ----- zde začni psát vlastní CSS ----- */

.li.logo {
	font-weight: 700;
	padding: 20px 30px;
	text-align: center;
	color: #25133d;
}

.ul.menu {
	margin: 0;
	padding: 0;
	width: 100%;
	list-style: none;
}

.ul.menu a {
	text-decoration: none;
	padding: 20px 30px;
	display: block;
	text-align: center;
	color: #25133d;
}

.ul.menu a:hover {
	color: white;
	background-color: #48418e;
}

.div.hero {
	background: url(images/pozadi.jpg) center no-repeat;
	background-size: cover;
	color: white;
	text-align: center;
	min-height: 450px;
}

h1 {
	font-size: 60px;
	font-weight: 400;
	margin: 0;
	padding: 30px 20px;
}

.div.hero p {
	font-size: 24px;
	font-weight: 300;
}

.div.hero a {
	display: block;
	text-decoration: none;
	color: white;
	border: 1px solid white;
	border-radius: 5px;
	padding: 10px 15px;
	margin: 10px auto;
	width: 200px;
}

.div.hero a:hover {
	background-color: #48418e;
}

.div.hero img {
	margin: 60px 0 0 auto;
	width: 100%;
	max-width: 400px;
	display: block;
}

.div.contain img {
	width: 75px;
	display: block;
	margin: 60px auto 30px auto;	
}

h2 {
	color: #48418e;
	text-align: center;
	font-size: 20px;
	margin: 0 0 20px 0;
}

.div.contain p {
	margin: 0 30px 0 30px;
	text-align: center;
}

.footer {
	color: white;
	background-color: #48418e;
	text-align: center;
	padding: 15px 0;
	margin-top: 20px;
	width: 100%;
}

.footer p {
	margin: 0;
}

@media screen and (min-width: 640px) {
	.ul.menu li {
		display: inline-block;
	}

	h1 {
		text-align: left;
		font-size: 75px;
		padding: 40px 0 0 40px;
	}

	.div.hero p {
		text-align: left;
		font-size: 30px;
		padding-left: 40px;
	}

	.div.links {
		display: flex;
		justify-content: flex-start;
	}
	
	.div.hero a {
		font-size: 20px;
		padding: 15px 20px;
		width: 200px;
	}

	.a.link.one {
		margin: 30px 20px 0 40px;
	}
	
	.a.link.two {
		margin: 30px 0 0 0;
	}

	.img.telefon {
		margin: 60px 0 0 auto;
	  }

	  .div.plane,
	  .div.buble,
	  .div.map {
		  display: flex;
		  align-items: center;
		  padding: 30px;
	  }

	  .div.contain img {
		  margin: 0;
	  }
	}

@media screen and (min-width: 1100px) {
	h1 {
		font-size: 90px;
	}

	.div.hero p {
		font-size: 36px;
	}

	.div.hero {
		display: flex;
	}

	.div.links {
		margin-bottom: 60px;
	}

	.div.contain {
		display: flex;
	}

	.div.plane,
	.div.buble,
	.div.map {
		flex-direction: column;
		padding: 40px;
	}

	.div.contain img {
		margin: 20px
	}

	.div.contain p {
		margin: 0;
	}

}